{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <title>Werden Desk</title>
</head>

<body>
    <header class="header">

        <a href="{% url 'create_request' %} " class="btn">Create Request</a>
        <a href="{% url 'emp_dashboard' %} " class="btn">Dashboard</a>


    </header>
    {% block content %}

    {% endblock %}
</body>

</html>